body {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./assets/images/stardewbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.game {
  padding-top: 30px;
}

#canvas {
  border: 1px solid black;
  border-radius: 3px;
}

.title {
  text-align: left;
  padding-bottom: 0;
}

.modal {
  background: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
}

.start-game {
  color: white;
}
.modal-title{
  font-family: 'Cinzel', serif;
  font-size: 80px;
  font-weight: 300;
  color: white;
}

.start-game > p {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  font-weight: 500;
}

.modal > section > img {
  height: 50px;
  width: 50px;
}

.lose, .win{
  display: none;
  color: white;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  top: 25%;
  left: 31%;
}

.lose > p, .win > p {
  font-family: 'PT Serif', serif;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.lose > p > img, .win > p > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  height: 30px;
  width: 85px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.info {
  display: none;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 300;
  color: white;
  position: fixed;
  left: 50px;
  top: 20%;
}

.info > li {
  padding-right: 15px;
  list-style: none;
}

.info > li > a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
